.MainMenu{
    margin: 50px 30px;
    padding: 40px;
    width: 70%;
}
.add{
    width: 140px;
    height: 60px;
}
.itemName{
    width: 70%;
    height: 40px;
    font-size: 25px;
}
.Cost{
    width: 29%;
    height: 40px;
    font-size: 25px;
}